@import 'reset.css';
.textArea{
    width: 30vw;
    height: 30vh;
    padding: 40px 0;
    padding-left: 45px;
    border: 5px solid #ccc;
    border-radius: 15px;
    margin: 27vh auto 0;
}
p{
    width: 150px;
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: bold;
    line-height: 27px;
}
.flex{
    display: flex;
    margin: 8vh auto;
}
.flex > input{
    height: 23px;
    border: none;
    border-bottom: 3px solid #ccc;
    background: #333;
    color: #ccc;
    font-weight: bold;
    font-size: 23px;
    width: 250px;
}
.flex > input:focus{
    outline: 0;
    border-color: #333;
    border-bottom: 3px solid #ccc;
}
.return{
    position: relative;
    top: 60px;
    left: -25px;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
}
.return > p, .confirm > p{
    position: relative;
    left: -8px;
}
.confirm{
    position: relative;
    top: -22px;
    left: 380px;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
}
